useDynLib(regIRT, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
importFrom("graphics", "plot", "abline", "lines")
importFrom("stats", "coef", "optim", "rnorm", "weights","cor")